{{extend 'layout.html'}}
<div class="row" >
	<div class="col-6" ><img  class="img-fluid rounded " src="{{=URL('static/images','_MG_9521.jpg')}}" style="height:auto;" /></div>

<div class="col"><h4 class="text-left">Gerenciamento de Alerta para seus pets</h4><br>
Cadastre o seu Pet, seu peso e os alertas que deseja.<br>
O sistema irá enviar um e-mail com as informações cadastradas.<br>
O sistema não envia propaganda. Ele foi desenvolvido com o intuito de estudo.
<br><br>O sistema não tem garantia de disponibilidade.</div>

</div>
<!--<div class="card text-white">
        <img class="card-img"   src="../static/images/_MG_9521.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title">Site desenvolvido para estudo da linguagem.</h4>
          <h6 class="card-subtitle">Subtítulo do cartão</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a class="btn btn-outline-light" href="">Leia mais</a>
        </div>
</div>--!>